<ion-header>
  <ion-navbar color="primary">
  	<ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  	<ion-title>
  		Mobile Tow Assist
  	</ion-title>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Find a Place"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
  <ion-list *ngIf="nearbyItems.length > 0">
    <ion-item *ngFor="let place of nearbyItems" tappable (click)="onSelectWorkshop(place.geometry.location)">
      <h2>{{place.name}}</h2>
      <p>{{place.vicinity}}</p>
      <p *ngIf="place.rating == null">Rating: Unrated</p>
      <p *ngIf="place.rating != null">Rating: {{place.rating}}</p>
      <button ion-button clear item-end>{{place.distance}}</button>
      <button ion-button clear item-end *ngIf="(place.opening_hours && !place.opening_hours.open_now)">CLOSED</button>
      <button ion-button clear item-end *ngIf="(place.opening_hours && place.opening_hours.open_now)">OPEN NOW</button>
    </ion-item>
  </ion-list>

</ion-content>

<!-- <ion-footer>
  <button ion-button full (click)="initGeolocation()">Locate Me</button>
</ion-footer> -->
